<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Editar artigo</h2>
            </div>

            <form method="POST" action="/articles/edit/save">
                <div class="card-footer">
                    <input type="hidden" value="<%= article.id %>" name="id">
                    <label>Defina o Título do Artigo: </label>
                    <input type="text" name="title" class="form-control" value="<%= article.title %>">
                    <label>Escreva o artigo aqui! </label>
                    <textarea type="text" name="body" class="form-control" id="article"><%= article.body %></textarea>
                    <label>Escolha a categoria:</label>
                    <select name="category" class="form-control">
                        <% categories.forEach((categories) => { %>
                            <% if(categories.id == article.categoryId){ %>
                                <option value="<%= categories.id %>" selected ><%= categories.title %></option>
                            <%} else { %>
                                <option value="<%= categories.id %>" ><%= categories.title %></option>
                             <% } %>
                        <% }) %>
                    </select>   
                </div>
                <button class="btn btn-success">Editar</button>
            </form>
        </div>
    </div>











<%- include ('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>