<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Lista de Usuários</h2>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <a href="/admin/users/create" class="btn btn-success">Criar Usuário</a>
            <% users.forEach(user => { %>
                <tr>
                    <th><%= user.id %></th>
                    <th><%= user.email %></th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include ('../../partials/footer.ejs') %>